In [ ]:
import pandas as pd
import pyarrow.parquet as pq

In [ ]:
# Load the HS2 exports data
file = "./data/top30-HS2-exports.parquet"
metrics_df = pq.read_table(file).to_pandas()

In [ ]:
# Inspect the dataframe structure
print("Dataframe shape:", metrics_df.shape)
print("\nColumn names:", metrics_df.columns.tolist())
print("\nIndex names:", metrics_df.index.names)
print("\nFirst few rows:")
print(metrics_df.head())

Dataframe shape: (493862, 4)

Column names: ['E_COMMODITY', 'exports', 'flag', 'color']

Index names: ['CTY_NAME', 'E_COMMODITY_SDESC', 'time']

First few rows:
                                                                          E_COMMODITY  \
CTY_NAME                E_COMMODITY_SDESC                      time
TOTAL FOR ALL COUNTRIES HS CODE 02, MEAT AND EDIBLE MEAT OFFAL 2013-01-01          02
                                                               2013-02-01          02
                                                               2013-03-01          02
                                                               2013-04-01          02
                                                               2013-05-01          02

                                                                                exports  \
CTY_NAME                E_COMMODITY_SDESC                      time
TOTAL FOR ALL COUNTRIES HS CODE 02, MEAT AND EDIBLE MEAT OFFAL 2013-01-01  1.261389e+09
                                                               2013-02-01  1.240396e+09
                                                               2013-03-01  1.271165e+09
                                                               2013-04-01  1.266044e+09
                                                               2013-05-01  1.371978e+09

                                                                                                                        flag  \
CTY_NAME                E_COMMODITY_SDESC                      time
TOTAL FOR ALL COUNTRIES HS CODE 02, MEAT AND EDIBLE MEAT OFFAL 2013-01-01  https://em-content.zobj.net/thumbs/120/twitter...
                                                               2013-02-01  https://em-content.zobj.net/thumbs/120/twitter...
                                                               2013-03-01  https://em-content.zobj.net/thumbs/120/twitter...
                                                               2013-04-01  https://em-content.zobj.net/thumbs/120/twitter...
                                                               2013-05-01  https://em-content.zobj.net/thumbs/120/twitter...

                                                                             color
CTY_NAME                E_COMMODITY_SDESC                      time
TOTAL FOR ALL COUNTRIES HS CODE 02, MEAT AND EDIBLE MEAT OFFAL 2013-01-01  #000000
                                                               2013-02-01  #000000
                                                               2013-03-01  #000000
                                                               2013-04-01  #000000
                                                               2013-05-01  #000000

In [ ]:
# This is the cell to prepare the data for the app
# Country to flag URL mapping

country_flags = {
    'ALL COUNTRIES': 'https://em-content.zobj.net/thumbs/120/twitter/348/globe-showing-americas_1f30e.png',  # Globe icon
    'TOTAL FOR ALL COUNTRIES': 'https://em-content.zobj.net/thumbs/120/twitter/348/globe-showing-americas_1f30e.png',  # Globe icon
    'CHINA': 'https://flagcdn.com/w40/cn.png',
    'JAPAN': 'https://flagcdn.com/w40/jp.png',
    'MEXICO': 'https://flagcdn.com/w40/mx.png',
    'CANADA': 'https://flagcdn.com/w40/ca.png',
    'VIETNAM': 'https://flagcdn.com/w40/vn.png',
    'KOREA, SOUTH': 'https://flagcdn.com/w40/kr.png',
    'INDIA': 'https://flagcdn.com/w40/in.png',
    'TAIWAN': 'https://flagcdn.com/w40/tw.png',
    'GERMANY': 'https://flagcdn.com/w40/de.png',
    'UNITED KINGDOM': 'https://flagcdn.com/w40/gb.png',
    'FRANCE': 'https://flagcdn.com/w40/fr.png',
    'ITALY': 'https://flagcdn.com/w40/it.png',
    'IRELAND': 'https://flagcdn.com/w40/ie.png',
    'SWITZERLAND': 'https://flagcdn.com/w40/ch.png',
    'THAILAND': 'https://flagcdn.com/w40/th.png',
    'NETHERLANDS': 'https://flagcdn.com/w40/nl.png',
    'BRAZIL': 'https://flagcdn.com/w40/br.png',
    'BELGIUM': 'https://flagcdn.com/w40/be.png',
    'SINGAPORE': 'https://flagcdn.com/w40/sg.png',
    'INDONESIA': 'https://flagcdn.com/w40/id.png',
    'MALAYSIA': 'https://flagcdn.com/w40/my.png',
    'ISRAEL': 'https://flagcdn.com/w40/il.png',
    'SAUDI ARABIA': 'https://flagcdn.com/w40/sa.png',
    'SPAIN': 'https://flagcdn.com/w40/es.png',
    'RUSSIA': 'https://flagcdn.com/w40/ru.png',
    'COLOMBIA': 'https://flagcdn.com/w40/co.png',
    'AUSTRIA': 'https://flagcdn.com/w40/at.png',
    'AUSTRALIA': 'https://flagcdn.com/w40/au.png',
    'SWEDEN': 'https://flagcdn.com/w40/se.png',
    'CHILE': 'https://flagcdn.com/w40/cl.png',
    'HONG KONG': 'https://flagcdn.com/w40/hk.png',
    'UNITED ARAB EMIRATES': 'https://flagcdn.com/w40/ae.png',
    'TURKEY': 'https://flagcdn.com/w40/tr.png',
    'PERU': 'https://flagcdn.com/w40/pe.png',
    'DOMINICAN REPUBLIC': 'https://flagcdn.com/w40/do.png',
    'EUROPEAN UNION': 'https://flagcdn.com/w40/eu.png',
    'USMCA (NAFTA)': 'https://flagcdn.com/w40/us.png',  # American flag
}

# Country to color mapping (using national/flag colors)
country_colors = {
    'ALL COUNTRIES': '#000000',  # Black for ALL COUNTRIES
    'TOTAL FOR ALL COUNTRIES': '#000000',  # Black for ALL COUNTRIES
    'CHINA': '#DE2910',
    'JAPAN': '#BC002D',
    'MEXICO': '#006847',
    'CANADA': '#FF0000',
    'VIETNAM': '#DA251D',
    'KOREA, SOUTH': '#003478',
    'INDIA': '#FF9933',
    'TAIWAN': '#000095',
    'GERMANY': '#FFCE00',
    'UNITED KINGDOM': '#012169',
    'FRANCE': '#0055A4',
    'ITALY': '#009246',
    'IRELAND': '#169B62',
    'SWITZERLAND': '#FF0000',
    'THAILAND': '#2D2A4A',
    'NETHERLANDS': '#FF6600',
    'BRAZIL': '#009B3A',
    'BELGIUM': '#FDDA24',
    'SINGAPORE': '#EE2737',
    'INDONESIA': '#FF0000',
    'MALAYSIA': '#CC0001',
    'ISRAEL': '#0038B8',
    'SAUDI ARABIA': '#165B33',
    'SPAIN': '#AA151B',
    'RUSSIA': '#0039A6',
    'COLOMBIA': '#FCD116',
    'AUSTRIA': '#ED2939',
    'AUSTRALIA': '#012169',
    'SWEDEN': '#006AA7',
    'CHILE': '#D52B1E',
    'HONG KONG': '#DE2910',  # Red from Hong Kong flag
    'UNITED ARAB EMIRATES': '#00732F',  # Green from UAE flag
    'TURKEY': '#E30A17',  # Red from Turkish flag
    'PERU': '#D91023',  # Red from Peruvian flag
    'DOMINICAN REPUBLIC': '#002D62',  # Blue from Dominican flag
    'EUROPEAN UNION': '#003399',  # EU blue
    'USMCA (NAFTA)': '#B22234',  # Red from American flag
}

# Reset index to make CTY_NAME a column, then add flag and color columns
metrics_df_reset = metrics_df.reset_index()
metrics_df_reset['flag'] = metrics_df_reset['CTY_NAME'].map(country_flags)
metrics_df_reset['color'] = metrics_df_reset['CTY_NAME'].map(country_colors)

# Set the index back to the original multi-index
metrics_df = metrics_df_reset.set_index(['CTY_NAME', 'E_COMMODITY_SDESC', 'time'])

In [ ]:
# Save the updated dataframe back to the file
metrics_df.to_parquet(file)

In [ ]:
# Display a sample of the data to verify
print("Updated data with flags and colors:")
# Reset index temporarily to display CTY_NAME with flag and color
sample_df = metrics_df.reset_index()[['CTY_NAME', 'flag', 'color']].drop_duplicates().head(35)
print(sample_df.to_string(index=False))

Updated data with flags and colors:
               CTY_NAME                                                                                flag   color
TOTAL FOR ALL COUNTRIES https://em-content.zobj.net/thumbs/120/twitter/348/globe-showing-americas_1f30e.png #000000
                 CANADA                                                      https://flagcdn.com/w40/ca.png #FF0000
                 MEXICO                                                      https://flagcdn.com/w40/mx.png #006847
                  CHINA                                                      https://flagcdn.com/w40/cn.png #DE2910
                  JAPAN                                                      https://flagcdn.com/w40/jp.png #BC002D
         UNITED KINGDOM                                                      https://flagcdn.com/w40/gb.png #012169
                GERMANY                                                      https://flagcdn.com/w40/de.png #FFCE00
            NETHERLANDS                                                      https://flagcdn.com/w40/nl.png #FF6600
           KOREA, SOUTH                                                      https://flagcdn.com/w40/kr.png #003478
                 BRAZIL                                                      https://flagcdn.com/w40/br.png #009B3A
                 FRANCE                                                      https://flagcdn.com/w40/fr.png #0055A4
              SINGAPORE                                                      https://flagcdn.com/w40/sg.png #EE2737
                 TAIWAN                                                      https://flagcdn.com/w40/tw.png #000095
                BELGIUM                                                      https://flagcdn.com/w40/be.png #FDDA24
              HONG KONG                                                      https://flagcdn.com/w40/hk.png #DE2910
                  INDIA                                                      https://flagcdn.com/w40/in.png #FF9933
              AUSTRALIA                                                      https://flagcdn.com/w40/au.png #012169
            SWITZERLAND                                                      https://flagcdn.com/w40/ch.png #FF0000
                  ITALY                                                      https://flagcdn.com/w40/it.png #009246
   UNITED ARAB EMIRATES                                                      https://flagcdn.com/w40/ae.png #00732F
               COLOMBIA                                                      https://flagcdn.com/w40/co.png #FCD116
                  CHILE                                                      https://flagcdn.com/w40/cl.png #D52B1E
                  SPAIN                                                      https://flagcdn.com/w40/es.png #AA151B
               MALAYSIA                                                      https://flagcdn.com/w40/my.png #CC0001
           SAUDI ARABIA                                                      https://flagcdn.com/w40/sa.png #165B33
                 ISRAEL                                                      https://flagcdn.com/w40/il.png #0038B8
               THAILAND                                                      https://flagcdn.com/w40/th.png #2D2A4A
                 TURKEY                                                      https://flagcdn.com/w40/tr.png #E30A17
                IRELAND                                                      https://flagcdn.com/w40/ie.png #169B62
                   PERU                                                      https://flagcdn.com/w40/pe.png #D91023
     DOMINICAN REPUBLIC                                                      https://flagcdn.com/w40/do.png #002D62
         EUROPEAN UNION                                                      https://flagcdn.com/w40/eu.png #003399
          USMCA (NAFTA)                                                      https://flagcdn.com/w40/us.png #B22234

In [ ]:
metrics_df.tail()

                                           E_COMMODITY       exports  \
CTY_NAME      E_COMMODITY_SDESC time
USMCA (NAFTA) ALL PRODUCTS      2025-07-01          00  5.508800e+10
                                2025-08-01          00  5.643621e+10
                                2025-09-01          00  5.412451e+10
                                2025-10-01          00  5.878217e+10
                                2025-11-01          00  5.195642e+10

                                                                      flag  \
CTY_NAME      E_COMMODITY_SDESC time
USMCA (NAFTA) ALL PRODUCTS      2025-07-01  https://flagcdn.com/w40/us.png
                                2025-08-01  https://flagcdn.com/w40/us.png
                                2025-09-01  https://flagcdn.com/w40/us.png
                                2025-10-01  https://flagcdn.com/w40/us.png
                                2025-11-01  https://flagcdn.com/w40/us.png

                                              color
CTY_NAME      E_COMMODITY_SDESC time
USMCA (NAFTA) ALL PRODUCTS      2025-07-01  #B22234
                                2025-08-01  #B22234
                                2025-09-01  #B22234
                                2025-10-01  #B22234
                                2025-11-01  #B22234